@import "base/reset.css";
@import "base/config.css";

@import "components/modals.css";

@import "components/buttons.css";
@import "states/states.css";
@import "layout/header.css";
@import "layout/sidebar.css";


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


/*BODY*/

.nav-link, .logo-box, .btn-sign-in {
  white-space: nowrap;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  /* min-height: 100vh; */
  font-family: var(--font-main);
  font-size: var(--fs-base);
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}


.content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 0;
  flex-grow: 1;
  overflow: hidden;
}

.main_window {
  overflow-y: auto;
  height: 100%;

}

.content {
  display: flex;
  position: relative;
  padding: var(--space-md) var(--space-md);
  flex-direction: column;
  min-height: 100vh;
}

.auth-spacer {
  flex-grow: 1; /* Забирает всё свободное пространство */
  min-height: var(--space-md);
}

/* ================= VISIBILITY ================= */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-none {
  display: none !important;
}


