/* визуализация блоков удалить */
* {
	/* outline: 1px solid #DE0C35;
	border: 1px solid red; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
    --u: clamp(8px, 0.8vw, 16px);

/* ---------------- ОСНОВНОЙ ЦВЕТ (Slate Teal) ---------------- */
  --color-primary-100: #d0e4e3; /* Для мягких подсветок фоны карточек, hover */
  --color-primary-500: #037971; /* Главный цвет: лого, активные элементы */
  --color-primary-700: #025d57; /* Темнее для наведения (hover) */
/* ---------------- АКЦЕНТ / КНОПКИ (Burnt Orange) ---------------- */
  --color-secondary-100: #f9e8d4; /* легкий фон/hover на карточках */
  --color-secondary-500: #d48444; /* акцентные кнопки, badges, promo */
  --color-secondary-700: #b56b33; /* hover/active для акцентов */
/* ---------------- СЕРЫЕ ОТТЕНКИ (Warm & Dusty) ---------------- */
  --color-gray-50:  #faf9f5; /* фоны блоков и секций */
  --color-gray-100: #f0ede4; /* светлый фон карточек */
  --color-gray-300: #d8d3c3; /* бордеры, разделители */
  --color-gray-500: #7d7d85; /* второстепенный текст */
  --color-gray-700: #4a4a52; /* Читабельный текст */

  --color-bg:   var(--color-gray-50);
  --color-text: #303036; /*  "почти черный" с каплей фиолета */

  /* ---------------- СТАТУСЫ ---------------- */
  --color-success: #63a088;  /* успех, добавлено в корзину */
  --color-error:   #b14a4a; /* ошибка, форма не прошла */
  --color-warning: #c9a54d; /* предупреждение, акция скоро закончится */
  --color-info:    #5b7b7a; /* информационные сообщения */
  
  /* ---------------- Шрифты ---------------- */
      /* Переменные */
    --main-font: 'Manrope', sans-serif;
    --fs-small: clamp(12px, 1.2vw, 24px); /*(Подписи, мелкие детали).*/
    --fs-base: clamp(16px, 1.6vw, 32px); /*(Стандартный текст — золотая середина).*/
    --fs-h2: clamp(24px, 2.4vw, 48px); /*(Заголовки окон).*/
    --fs-button: clamp(14px, 1.4vw, 28px); /*(Кнопки часто делают чуть меньше основного текста, но жирнее, чтобы они выглядели аккуратно).*/
 /* ----------- Border Radius System ----------- */
/*(Border Radius):*/

--br-sm: 4px; /*(для маленьких кнопок/инпутов)*/
--br-md: 12px; /*(для основных карточек, как на макете)*/

/* (Shadows): */
--shadow-light: 0 4px 20px rgba(0,0,0,0.2); /*(едва заметная)*/
--shadow-card: 0 10px 30px rgba(0,0,0,0.3); /*(для акцента)*/

/*(Spacings):*/
--gap-page: calc(var(--u) * 2); /*(расстояние между карточками)*/

/*(Transitions):*/
--t-fast: 0.2s ease;

}
/*HEADER*/
/* .main-header{
  width: 100%;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-300);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
} */

/* .header-container {
    max-width: 1440px; 
    margin: 0 auto;    
    padding: var(--u) calc(var(--u) * 2); 
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

/* .logo-box {
    display: flex;
    color: var(--color-primary-500);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

} */

/* .logo-box strong {
  display: inline-block;
  transition: transform 0.3s ease;

} */
/* .logo-box:hover strong{
  transform: translateY(-3px);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
} */

/* .main-nav ul {
    display: flex;
    gap: calc(var(--u) * 2); 
} */

/* .main-nav a {
    font-size: var(--fs-base); 
    font-weight: 500;
    color: var(--color-text);
    transition: color 0.3s;
}

.main-nav a:hover {
    color: var(--color-primary-500);
} */

/* .btn-header{
    color: var(--color-text);
    background-color: var(--color-secondary-500);
    font-weight: 500;
    display: inline-flex;
    border-radius:var(--br-md);
    padding: calc(var(--u) / 2) var(--u);
    border: 1px solid var(--color-secondary-700);
    box-shadow: var(--shd-low);
    transition: transform 0.3s, box-shadow 0.3s;

  } */
/* 
.btn-main:hover {
  transform: translateY(-2px);
  box-shadow: var(--shd-high);
}

.btn-main:active{
    transform: translateY(0px);
  box-shadow: var(--shd-low);
} */
/*BODY*/

body {
    margin: 0;
    /* display: flex; */
    /* justify-content: center; */
     /* Центр по горизонтали */
    /* align-items: center;     */
    /* Центр по вертикали */
    min-height: 100vh;       /* Высота во весь экран */
    background-color: var(--color-gray-50);
    font-family: var(--main-font);
}

/* .main_window > div {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.main_window .active {
    display: block;
    opacity: 1;     
} */


.content {
  padding: calc(var(--u) / 2) calc(var(--u)*2);
}

.aside{
  /* width: clamp(250px, 20vw, 400px); */
}

.auth-overlay{
    position: fixed;
    inset: 0;
    z-index: 10; /* Чтобы было под хедером (1001) */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    
    /* Флекс настройки */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Плавное появление */
    transition: opacity 0.3s ease;
  
}

.auth-card{
  display: flex;
  flex-direction: column;
  background: white;
  padding: calc(var(--u) * 2);
  /* align-self: center;  */
  /* min-width: 320px;
  max-width: 400px;  */
  /* width: 100%; */
  border-radius: var(--br-md);
  box-shadow: var(--shd-high);
  /* margin-top: clamp(50px, 5.0vw, 100px); */
  /*костыль окно нырнуло под хедер*/
  
  /* padding: var(--u) calc(var(--u) * 2); костыль окно */
}

.auth-content{
  display: grid;
  grid-template-columns: 1fr;
}

.auth-form-login{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-form-reg{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-tabs > ul{
  list-style: none;
   display: flex;
  flex-direction: row; 
  width: 100%;
  justify-content: space-between;
}

.auth-card form {
    display: flex;
    flex-direction: column;
    gap: var(--u); /* Расстояние между инпутами */
}

.auth-card input {
  border: 1px solid var(--color-gray-300);
  border-radius: var(--br-sm);
  background-color: var(--color-gray-50);
  padding: calc(var(--u) / 1.5) var(--u);
  font-size: var(--fs-small);
  color: var(--color-text);
  transition: border-color var(--t-fast), box-shadow var(--t-fast);

    /* width: 100%; Растянется на всю ширину формы */
    /* min-width: calc(var(--u) * 15); Вот тут мы задаем минимальную ширину всей карточки через инпут */
    /* padding: calc(var(--u) / 2); */
}

.auth-card input:focus {
    outline: none;
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 3px var(--color-primary-100);

}

.auth-card input label {
  font-weight: 500;
    color: var(--color-gray-700);
    margin-bottom: calc(var(--u) / -2);
}

.auth-tabs ul {
    border-bottom: 2px solid var(--color-gray-100);
    margin-bottom: var(--u);
}

.auth-tabs button {
    background: none;
    outline: none;
    border: none;
    padding: var(--u);
    cursor: pointer;
    font-size: var(--fs-button);
    color: var(--color-gray-500);
    transition: color var(--t-fast);
    position: relative;
    
}

/* Линия под активной вкладкой (потом добавим класс через JS) */
.auth-tabs button.is-active {
    color: var(--color-primary-500);
    font-weight: 700;
}

.auth-tabs button.is-active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary-500);
}
.auth-spacer{
  flex-grow: 1;
}

.is-hiden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
     /* Или используй opacity: 0; pointer-events: none; для анимации */
}

.is-none {
  display: none;
}



/* Для Инпутов (Поля ввода):

Убери стандартные рамки: border: 1px solid var(--gray-300).

Добавь transition: border-color 0.3s.

При focus (когда кликаешь в поле) меняй цвет рамки на наш Teal (--color-primary-500). */