
.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm) var(--space-md);
  font-size: var(--fs-button);
  font-weight: 500;

  color: var(--color-surface);
  background-color: var(--color-accent);
  border-radius: var(--br-md);
 
  box-shadow: var(--shd-low);
  transition: transform var(--t-fast), box-shadow var(--t-fast);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--shd-high);
  background-color: var(--color-accent-hover);
}

.btn:active{
  transform: translateY(0);
  box-shadow: var(--shd-low);
}


/* ================= sidebar-control-panel ================= */
.sidebar-control-panel {
  display: none; 
  position: absolute;
  bottom: var(--space-md); /* Отступ снизу */
  left: var(--space-sm);   /* Отступ слева */
  display: grid;
  grid-template-columns: 1fr;
  /* animation: float 4s ease-in-out infinite; */
  z-index: 1000;

  flex-shrink: 0;
  position: sticky;


}

.sidebar-toggle {
  display: none; 

  width: auto;
  min-width: 1rem;
  max-width: 5rem; 
  
  height: auto;
  min-height: 1rem; 
  max-height: 5rem;
  padding: 0.5rem;

  border: none;
  border-radius: 50%;

  box-shadow: var(--shd-low);

  transition: transform var(--t-fast), box-shadow var(--t-fast);
  background-color: var(--accent-500);
  color: var(--color-surface);
 
}
/* .sidebar-toggle.is-active {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */



/* .sidebar:not(.is-none) .options:not(.is-active) ~ .content .btn-next {
    display: flex;
} */

/* .sidebar:not(.is-none) .options:not(.is-active) ~ .sidebar-toggle {
    display: none;
} */



.icon-design {
  width: 100%; 
  height: 100%;
  fill: none;

}

.btn-kros {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.btn-burger {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.btn-schevrone {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.sidebar-toggle:hover {
  transform: translateY(-2px);
  background-color: var(--color-accent-hover);
  box-shadow: var(--shd-high);
}

.sidebar-toggle:active {
  transform: translateY(0px);
   background-color: var(--color-accent-hover);
  /* box-shadow: var(--shd-high); */
}

.icon-chevron {
  transform: translateX(-1px);
}


.icon-close {
}

.icon-menu {
}
.line-top {
}
.line-mid {
}
.line-bot {
}







.sidebar-toggle {
  /* background-color: var(--accent-500);
  color: #ffffff;
  border: none;
  border-radius: var(--br-md);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color var(--t-fast); */
}

.sidebar-toggle:hover {
  /* background-color: var(--accent-700); */
}

/* Скрываем шеврон по умолчанию */
.sidebar-toggle .icon-chevron {
  /* display: none; */
}

/* При ховере прячем сэндвич и показываем шеврон */
.sidebar-toggle:hover .icon-menu {
  /* display: none; */
}

.sidebar-toggle:hover .icon-chevron {
  /* display: block; */
}