html {
  font-size: clamp(62.5%, 0.625rem + 0.2vw, 150%);
}


:root {
  /* ================= FONT ================= */
  --font-main: 'Manrope', sans-serif;

  --fs-small: 1.2rem;   /* Caption: (Подписи, мелкие детали) */
  --fs-base: 1.6rem;    /* Body: основной читаемый текст — золотая середина). */
  --fs-button: 1.4rem;  /*текст кнопок*/
  --fs-small-button: 1rem;  /*текст мелких кнопок кнопок*/
  --fs-h3: 1.8rem;      /* H3/Lead: Заголовки окон */
  --fs-xl: 2.4rem;      /* H2: главные заголовки экранов */

  /* ================= SPACING ================= */
  --space-xs: 0.4rem; /* Tiny: зазоры внутри элементов */
  --space-sm: 0.8rem; /* Small: между мелкими элементами */
  --space-md: 1.6rem; /* Самый частый отступ Medium: между логическими группами */
  --space-lg: 2.4rem; /* 24px */
  --space-xl: 3.2rem; /* Large: внешние отступы контейнеров */
  /* ================= RADIUS ================= */
  --br-sm: 0.4rem;    /*(для маленьких кнопок/инпутов)*/
  --br-md: 1.2rem;    /*(для основных карточек, как на макете)*/

/* ================= SHADOW ================= */
/* Почти плоская тень для обычных кнопок */
--shd-flat: -2px 2px 4px rgba(0,0,0,0.1);

/* Твоя рабочая тень для сайдбара (левая) */
--shd-low: -4px 4px 12px -3px rgba(0,0,0,0.2);

/* Тень при наведении (Hover) — "взлет" */
--shd-medium: -6px 8px 20px -5px rgba(0,0,0,0.3);

/* Тень для модалок (High) — очень глубокая */
--shd-high: 0 12px 30px -10px rgba(0,0,0,0.4);

  /* ================= PALETTE ================= */
  /* ---------------- ОСНОВНОЙ ЦВЕТ primary ----------------   */
  --primary-100: #d0e4e3;/* Для мягких подсветок фоны карточек, hover */
  --primary-500: #0ea5e9;/* Главный цвет: лого, активные элементы */
  --primary-700: #0369a1;/* Темнее для наведения (hover) */

  /* ---------------- АКЦЕНТ / КНОПКИ  ---------------- */
  --accent-100: #f9e8d4;/* легкий фон/hover на карточках */
  --accent-500: #ffa200;/* акцентные кнопки, badges, promo */
  --accent-700: #b56b33;/* hover/active для акцентов */

  /* gray scale */
  --gray-50:  #faf9f5;/* фоны блоков и секций */
  --gray-100: #f0ede4;/* светлый фон карточек */
  --gray-300: #d8d3c3;/* бордеры, разделители */
  --gray-500: #7d7d85;/* второстепенный текст */
  --gray-700: #4a4a52;/* Читабельный текст */

  /* ================= SEMANTIC TOKENS ================= */
  --color-bg: var(--gray-50);
  --color-surface: #fefefe;
  --color-border: var(--gray-300);
  --color-sidebar: #eceae0;

  --color-text-main: #303036;
  --color-text-muted: var(--gray-500);

  --color-primary: var(--primary-500);
  --color-primary-hover: var(--primary-700);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-700);

  --color-success: #63a088;
  --color-error:   #b14a4a;
  --color-warning: #c9a54d;
  --color-info:    #5b7b7a;

  /* ================= MOTION ================= */
  --t-fast: 0.2s ease;
}
