    /* data-authStatus="guest"
    data-authOverlay = "closed"
    data-authOverlaytab = "login"
    data-sidebarStatus = "closed"
    data-sidebarNavButtonsStatus = "open"
    data-sidebarDashboardStatus = "closed" */

/* Показываем нужное */
/* body[data-authStatus="guest"] .auth-box {
    display: flex;
} */
/* body[data-authStatus="guest"] .btn-sign-in  */

body[data-auth-status="guest"] .btn-sign-in {
    display: inline-flex;
}
body[data-auth-status="user"] .btn-profile {
    display: inline-flex;
}
body[data-auth-status="admin"] .btn-admin {
    display: inline-flex;
}

body[data-auth-overlay="open"] .auth-overlay {
    display: inline-flex;
}

body[data-auth-overlay-tab="authorization"] .auth-tab-auth {
    color: var(--color-primary);
    font-weight: 700;
}

body[data-auth-overlay-tab="registration"]  .auth-tab-reg {
    color: var(--color-primary);
    font-weight: 700;
}

body[data-auth-overlay-tab="authorization"] .auth-tab-auth::after{
    content: '';
    position: absolute;
    inset: auto 0 -1px 0;
    height: 2px;
    background-color: var(--color-primary);
}

body[data-auth-overlay-tab="registration"]  .auth-tab-reg::after  {
    content: '';
    position: absolute;
    inset: auto 0 -1px 0;
    height: 2px;
    background-color: var(--color-primary);
}


body[data-auth-overlay-tab="registration"] .auth-form-login {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

body[data-auth-overlay-tab="authorization"] .auth-form-reg {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

body[data-sidebar-status="open"] .sidebar {
    display: flex;
}

body:is([data-auth-status="user"], [data-auth-status="admin"]) .sidebar-control-panel {
  display: grid;
}

body[data-sidebar-status="open"] .sidebar-control-panel {
    display: grid;
}

body[data-sidebar-status="open"] .btn-kros {

    display: grid;
}

body[data-auth-status="user"][data-sidebar-status="closed"] .sidebar-control-panel,
body[data-auth-status="admin"][data-sidebar-status="closed"] .sidebar-control-panel {
    transition: transform var(--t-fast) ease;
    display: inline-flex;
}

body[data-auth-status="user"][data-sidebar-status="closed"] .btn-burger,
body[data-auth-status="admin"][data-sidebar-status="closed"] .btn-burger {
    transition: transform var(--t-fast) ease;
    display: inline-flex;
}


body[data-switch-tab-buttons="settings"] .settings,
body[data-switch-tab-buttons="firstIndex"] .firstIndex,
body[data-switch-tab-buttons="secondIndex"] .secondIndex {
    color: var(--color-primary);
    margin-right: -1px;
    font-weight: 700;
    border-right: none;
    background-color: var(--color-surface);
    transform: none !important;
    box-shadow: none !important;
    /* cursor: default; */
}

body[data-switch-tab-buttons="settings"] .settings::after,
body[data-switch-tab-buttons="firstIndex"] .firstIndex::after,
body[data-switch-tab-buttons="secondIndex"] .secondIndex::after{
    content: '';
    position: absolute;
    inset: auto 0 -1px 0;
    height: 2px;
    background-color: var(--color-primary);
}

/* body:not([data-switch-tab-buttons=""]) .options {
  max-width: 50rem; 

} */

body[data-sidebar-dashboard-status="open"] .options {
    width: 100%;
    max-width: 50rem; 
}


body[data-switch-tab-buttons="settings"] [data-panel="settings"],
body[data-switch-tab-buttons="firstIndex"] [data-panel="first_index"],
body[data-switch-tab-buttons="secondIndex"] [data-panel="second_index"] {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

body[data-sidebar-dashboard-status="open"] .btn-kros {
    display: none;
}

body[data-sidebar-dashboard-status="open"] .btn-schevrone {
    transition: transform var(--t-fast) ease; /* Плавность */
    /* transform: rotate(180deg); */
    display: grid;
}

body[data-sidebar-dashboard-status="closed"] .btn-schevrone {
    display: none;
}

/* body[data-switch-tab-buttons="firstIndex"][data-sidebar-status="open"] .firstIndex {
  color: var(--color-primary);
  margin-right: -1px;
  font-weight: 700;
  border-right: none;
  background-color: var(--color-surface);
  transform: none !important;
  box-shadow: none !important;
  cursor: default;
}
body[data-switch-tab-buttons="secondIndex"][data-sidebar-status="open"] .secondIndex {
  color: var(--color-primary);
  margin-right: -1px;
  font-weight: 700;
  border-right: none;
  background-color: var(--color-surface);
  transform: none !important;
  box-shadow: none !important;
  cursor: default;
} */

/* body[data-switch-tab-buttons="registration"]  .auth-tab-reg {
  color: var(--color-primary);
  font-weight: 700;
} */


/* body[data-authStatus="guest"] .auth-overlay {
    display: flex;
} */

/* body[data-authStatus="guest"] .auth-overlay {
    display: none;
} */
/* Кнопка активна, так как гость видит форму */
/* [data-status="user"] .sidebar-toggle {
    display: flex;
    
}  */
/* body[data-authStatu="guest"] .sidebar-control-panel {
    display: none;
} */



/* 
body[data-sidebar="open"] .sidebar {
    display: flex;
} */

/* body[data-auth-overlay="open"] .auth-overlay {
    display: flex;
} */

/* body[data-auth-tab="login"] .auth-form-login {
    display: block;
} */

/* body[data-auth-tab="registration"] .auth-form-reg {
    display: block;
} */






/* 
body[data-auth="guest"] .sidebar {
    display: none;
}

body[data-sidebar="open"] .sidebar {
    display: block;
}

body[data-auth-overlay="open"] .auth-overlay {
    display: flex;
}

body[data-auth-tab="login"] .auth-form-login {
    display: block;
}

body[data-auth-tab="registration"] .auth-form-reg {
    display: block;
} */