/* ================= sidebar ================= */

.sidebar{
  /* display: flex; */
  display: none;
  flex-direction: row;
  /* padding-right: var(--space-xs); */
  width: auto;
  min-width: 15rem;
  max-width: 50rem;
  z-index: 10;
  background-color:  var(--gray-100);
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.sidebar h2{
  padding: 0rem 1rem ;
}

.options-navigation {
  border-right: 1px solid var(--gray-300);
  flex-shrink: 0;
  display: flex; 
  flex-direction: column;

}

.nav-group {
  flex-grow: 1;
  
}

.switch-tabs-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
  /* border-bottom: 1px solid var(--gray-100); */
  /* padding-right: var(--space-sm);  */
  box-sizing: border-box;

}

.nav-btn {
  padding: var(--space-sm);
  font-size: var(--fs-button);
  font-weight: 500;
  width: calc(100% + 1px);
  z-index: 70;
  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-text-muted);
  /* transition: color var(--t-fast); */
  position: relative;
  margin-right: -1px;
  
  transition: all 0.4s ease;
  /* box-shadow: var(--shd-low); */
  /* box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.1);
  transition: transform var(--t-fast), box-shadow var(--t-fast); */

}

.nav-btn:hover{
  transform: translateY(-2px);
  box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.8);
  /* box-shadow : var(--shd-high); */
  /* background-color: var(--gray-300); */
}

.nav-btn:active{
  transform: translateY(0);
  box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.1);
  /* box-shadow: var(--shd-low); */
}

.nav-btn:not(.is-active):hover {
  color: var(--color-primary);
}

.nav-btn.is-active {
  color: var(--color-primary);
  margin-right: -1px;
  font-weight: 700;
  border-right: none;
  background-color: var(--color-surface);
  transform: none !important;
  box-shadow: none !important;
  cursor: default;

}

.nav-btn.is-active::after {
  content: '';
  position: absolute;
  inset: auto 0 -1px 0;
  height: 2px;
  background-color: var(--color-primary);
  
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid var(--gray-300);
  max-width: 0;
  width: max-content;
  /* width: 20rem; */
  overflow: hidden;
  width: auto;
  transition: max-width 0.4s; 
  background-color: var(--color-surface);
}

.options.is-active { 
  max-width: 50rem; 
}

.options-panel.is-hidden {
  /* opacity: 0;
  pointer-events: none; */
 
}

.options-panel{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  /* position: absolute; */
  grid-area: 1 / 1;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  padding: var(--space-md);
}

.shortUserInfo {
}

.avatar {
}

.personal_info {
}

.userE-mail {
}



.nav-caption {
}

.is-active {
}
.icon-chart {
}
.icon-calc {
}
.only-user {
}
.is-none {
}
.only-admin {
}